{% set columns2 = true  %}

{% extends "layout.twig" %}



{% block extraHead %}
    <script src="/js/boundary-autocomplete.js"></script>
    <script>
        window.boundaryDataFromUrl = {{ boundaryDataJson|raw|default('[]') }};
    </script>
{% endblock %}


{% block pageHeader %}
    <div class="page-header">
        <h1>{{ title|raw }}</h1>
    </div>
    {% include 'announcment.twig' ignore missing %}
{%  endblock %}

{% block content %}

    {{ alert|raw }}
    {{ tartalom|raw }}
    <strong><span class=kiscim>Keresési paraméterek:</span></strong><br/>
    {% if filters is defined and filters|length %}
        {% for filter in filters %}
            <span class="alap"><img src="/img/negyzet_lila.gif" align="absmiddle"> {{ filter|raw }}</span><br/>
        {% endfor %}
    {% else %}
        <span class="alap">Nincsenek szűrők</span><
    {% endif %}
    <br/>

    {% if results %}

            <div class="row" style="margin-bottom:12px">
                <p>
                Listázott találatok: <strong>{{ (pagination.active * pagination.take) + 1 }} - 
                {% if pagination.resultsCount < ( pagination.active + 1 ) * pagination.take %}
                    {{ pagination.resultsCount }}
                {% else %}
                    {{ ( pagination.active + 1 ) * pagination.take }} 
                {% endif %}</strong>
                (Összesen: <strong>{{ pagination.resultsCount }}</strong>)
                </p>
            </div>

            <table class="table">
                <tbody>
                {% set previousDate = null %}
                {% set rowCounter = 0 %}
                {% for result in results %}
                    {% set church = result.church %}
                    {% set currentDate = result.start_date|date('Y-m-d') %}
                    {% if previousDate is null or previousDate != currentDate %}
                        <tr style="background-color: #f5f5f5;">
                            <td class="table-secondary" colspan="5" style="text-align: center; font-weight: bold; padding: 10px;">
                                {{result.start_date|miserend_date('')}}{{ (liturgicalDays[currentDate].name ? ': ' ~ liturgicalDays[currentDate].name)|raw }}
                            </td>
                        </tr>
                        {% set previousDate = currentDate %}
                        {% set rowCounter = 0 %}
                    {% endif %}
                    <tr{% if rowCounter % 2 == 1 %} class="table-light"{% endif %}>
                        <td class="align-middle">                           
                            <span class="badge badge-primary">{{ "%02d:%02d"|format((result.start_minutes / 60)|round(0, 'floor'), (result.start_minutes % 60)) }}</span>
                        </td>

                        <td class="align-middle">
                            <img src="/cal_images/types/{{ result.rite|lower }}.svg" alt="{{ result.rite|trans }}" title="{{ result.rite|trans }}" style="height:1.3em; margin-right:6px; vertical-align:middle;">
                            <strong class="mass-list-title">{{ result.title }}</strong>
                        </td>

                        <!--<td class="align-middle">
                            {% if result.readable_rrule %}
                                <div class="text-muted small">{{ result.readable_rrule }}</div>
                            {% endif %}
                        </td>-->

                        <td class="align-middle">
                            {% if result.lang and result.lang != 'hu' %}
                                <img src="/cal_images/flags/{{ result.lang|lower }}.svg" alt="{{ ('LANGUAGES.' ~ result.lang)|trans }}" title="{{ ('LANGUAGES.' ~ result.lang)|trans }}" style="height:1.3em; margin-right:6px; vertical-align:middle;">
                            {% endif %}
                            {% if result.types is iterable and result.types|length %}
                                {% for type in result.types %}
                                    <img src="/cal_images/types/{{ type|lower }}.png" alt="{{ type|trans }}" title="{{ type|trans }}" style="height:1.3em; margin-right:6px; vertical-align:middle;">
                                {% endfor %}
                            {% endif %}
                            {% if result.comment %}
                                <i class='fas fa-info-circle' style='font-size:medium' 	title='{{ result.comment|striptags }}'></i>                                
                            {% endif %}
                        </td>

                        <td class="align-middle">
                            <a href='/templom/{{ church.id }}' class=felsomenulink title='{{ church.names|slice(1)|join(', ') }}'>
                                <b>{{ church.names.0 }}</b>
                                <font color=#8D317C>
                                    {% if church.varos is iterable %}
                                        ({{ church.varos.0 }})
                                    {% else %}
                                        ({{ church.varos }})
                                    {% endif %}
                                </font>
                            </a>
                            {% if church.alternative_names.0 %}
                                <br/><span class="alap" style="margin-left: 20px; font-style: italic;" title="{{ church.alternative_names|slice(1)|join(', ') }}">{{ church.alternative_names.0 }}</span>
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            {% if result.period or result.mass.rrule %}
                                <span class="badge" style="background-color:{{ result.period.color ??  '' }}" title="{{ result.mass.rrule.readable }}">{{ result.period.name ?? 'Időszak nélkül' }}</span>
                            {% endif %}
                            
                        </td>
                        <!--{% if user.isadmin %}
                            <td>
                                {% include "church/_adminlinks.twig" with church %}
                            </td>
                        {% endif %}-->
                    </tr>
                    {% set rowCounter = rowCounter + 1 %}
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% include '_pagination.twig' %}


{% endblock %}

{% block leftsidebar %}
    {% include "_panelsearchmass.twig" %}
{% endblock %}
